$sizeOfHeader: 30px;

$color-red: red;
$color-salmon: salmon;
$white: white;
$lightergrey: rgb(74, 148, 102);

$header-color: $color-salmon;
$link-color: $color-red;
$link-hover-color: gray;

$image-numbers: 2;
$margin-right-img: 5%;